<div id="<%= dom_id user %>">
  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

</div>
