<h1><%= I18n.t('main_page.welcome')%> </h1>
<%= link_to I18n.t("main_page.storages"), storages_url%>
<br>
<%= link_to I18n.t("main_page.commodities"), commodities_url%>
<br>
<%= link_to I18n.t("main_page.users"), users_url%>