<footer>
  <div class="footer-left">
    <p>&copy; 2023 Warehouse Accounting System. All rights reserved.</p>
  </div>
  
  <div class="footer-right">
    <a href="#">Terms of Service</a>
    <a href="#">Privacy Policy</a>
  </div>
</footer>