<header>
  <nav>
    <a href="#">Home</a>
    <a href="#">Products</a>
    <a href="#">Services</a>
    <a href="#">About Us</a>
    <a href="#">Contact Us</a>
  </nav>
  
  <div class="header-right">
    <form action="#" method="get">
      <input type="text" placeholder="Search...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    
    <a href="#"><i class="fa fa-shopping-bag"></i></a>
    <a href="#">Login/Register</a>
  </div>
</header>